[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "symbolicr"]
	path = symbolicr
	url = https://github.com/cosbi-research/symbolicr
